@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

.game{
  justify-content: center;
  align-items: center;
}

.pause{
  /* height: 2rem;
  width: 2rem;
  background-color: red; */
}

.gameSettings{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}

.settings{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -5rem;
  margin-left: 2rem;
}

.flagger{
  width: 3rem;
  height: 3rem;
  background-image: url(./resources/images/flag.png);
  background-size: 35px;
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}



.cell {
  width: 2rem;
  height: 2rem;
  background-color: pink;
  /* border: 0.1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.cell.opened.light {
  width: 2rem;
  height: 2rem;
  /* border: 0.1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D4C284;
}

.lives{
  width: auto;
  height: 1rem;
  display: flex;
}

.live{
  margin-left: 0.2rem;
}



.cell.opened.dark {
    width: 2rem;
    height: 2rem;
    /* border: 0.1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B09F63; 
  }

.flagged{
  background-image: url(./resources/images/flag.png);
  background-size: 35px;
  background-repeat: no-repeat;
  
}

.flaggerOff{
  width: 3rem;
  height: 3rem;
  background-image: url(./resources/images/flag.png);
 
  background-size: 35px;
  background-repeat: no-repeat;
  
}




.row {
  display: flex;
  justify-content: center;
}

.grid{
  position: relative;
  -webkit-text-stroke: 1px black;
  font-size: 30px;
  font-family: 'Concert One', cursive;
}

#boom {
  width: 2rem;
  height: 2rem;
  background-color: black;
  /* border: 0.1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:url(../crocodile.png);
  background-size: 2rem;
  background-repeat: no-repeat;
}


.light{
    background-color: #BADCAE;
}

.dark{
    background-color: #89AA80;
}


.content1{
    color: #D2F8E1;
}

.content2{
    color: #E4C1F9;
}

.content3{
    color: #F594C1;
}


.content4{
    color: #EDE8B1;
}

.content5{
    color: #A8DEF8;
}


.content6{
    color: #F5988C;
}

.content7{
    color: #C85C69;
}

